/* .thumbnails{
    display: flex;
    grid-template-columns: repeat(1, 1fr);
} */

.booking-box{
display:block;
  align-items: center;
  list-style: none;
  margin-left: 400px;
  margin-right: 1100px;
  padding: 10px;
  /* display: flex; */
  /* flex-direction: row; */
  gap: 10px;
  border: 6px solid black;


}

.booking-box button {
  border: 1px solid #7e4628;
  border-radius: 4px;
  background-color: #923737;
  color: white
}

.spotDetailsWrap {
  justify-content: center;
}

.forLineDivider{
    height: 4px;
    background-color: black;
    margin: 40px 400px;
    border: 1px;
}
