.imageContainerBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    text-decoration: none;
    /* border: 10px; */
}

.imageDisplayBox {
    /* border: 1px solid #c92323; */
    padding: 0px 80px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 100 112px 100 rgb(12, 11, 11);
    background-color: rgb(243, 216, 175);
    text-decoration: none;

    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */

}


.locationRating {
  display: flex;
  align-items: center;
  gap: 120px;
  margin-top: 10px;
  text-decoration: none;
}

.locationText {
  margin: 0;
  text-decoration: none;
}

.starts {
  text-decoration: none;
}

/* TOOLTIP */

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 10px dotted rgb(197, 64, 64);  If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(98, 75, 75);
  color: #ffffff;
  size: 12px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 8px;

  /* Position the tooltip text - see examples below! */
  /* position: absolute;
  z-index: 1; */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
